{$WIKI_DOMAIN} {
	encode zstd gzip

	reverse_proxy mediawiki:80 {
		header_up X-Forwarded-Proto https
	}

	# MediaWiki serves its own cache headers; don't fight them.
	header {
		Referrer-Policy strict-origin-when-cross-origin
		X-Content-Type-Options nosniff
	}
}
